.header {
	box-shadow: 0 4px 10px #fabbaa;
	padding: 32px;
	margin-bottom: 48px;
}

.header_link {
	text-decoration: none;
	font-size: 24px;
	font-family: fantasy;
	margin-right: 16px;
	color: gray;
}

.active {
	color: #fabbaa;
}
